{% extends 'base.html' %}
{%block title%}
Contact
{% endblock %}

{%block content%}

<h3><P>Have questions or ready to start planning your next event? Get in touch with us!</P><br>

<P><b>EventEvoke</b></P><br>

<P>Address: EventEvoke</P>

<P>Phone: 8848528790</P>

<P>Email: eventevoke@gmail.com</P>

<P>Follow Us:</P>

<li>Facebook</li>
<li>Twitter</li>
<li>Instagram</li>
<br>
<P><b>Business Hours:</b></P><br>
<P>Monday - Friday: 9:00 AM - 6:00 PM</P>
<P>Saturday - Sunday: Closed</P>

<P>We look forward to hearing from you and helping you create unforgettable moments!</h3></P>



{% endblock %}